# Виртуальные окружения
.venv/
**/.venv/
venv/

# Кэш Python
__pycache__/
**/__pycache__/
*.py[cod]

# Данные и результаты проекта order_analysis


# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Системное
.DS_Store
Thumbs.db