# Виртуальные окружения
.venv/
**/.venv/
venv/

# Кэш Python
__pycache__/
**/__pycache__/
*.py[cod]

# Данные и результаты проекта order_analysis
order_analysis/data/*.csv
order_analysis/reports/*.csv
order_analysis/logs/*.log

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Системное
.DS_Store
Thumbs.db